<h1>About You</h1>
<div class="field">
  <%= f.label :favorite_food %><br>
  <%= f.text_field :favorite_food %>
</div>
<div class="field">
  <%= f.label :favorite_artist %><br>
  <%= f.text_field :favorite_artist %>
</div>
<div class="field">
  <%= f.label :company %><br>
  <%= f.text_field :company %>
</div>
<div class="field">
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :department %><br>
  <%= f.text_field :department %>
</div>
<div class="field">
  <%= f.label :last_movie_seen %><br>
  <%= f.text_field :last_movie_seen %>
</div>
<div class="field">
  <%= f.label :college_degree %><br>
  <%= f.text_field :college_degree %>
</div>
<div class="field">
  <%= f.label :college %><br>
  <%= f.text_field :college %>
</div>
<div class="field">
  <%= f.label :website %><br>
  <%= f.text_field :website %>
</div>
<div class="field">
  <%= f.label :twitter_user_name %><br>
  <%= f.text_field :twitter_user_name %>
</div>
<div class="field">
  <%= f.label :photo_path %><br>
  <%= f.text_field :photo_path %>
</div>
<div class="field">
  <%= f.label :join_date %><br>
  <%= f.date_select :join_date %>
</div>