<h1>Who You Are</h1>
<div class="field">
  <%= f.label :first_name %><br>
  <%= f.text_field :first_name %>
</div>
<div class="field">
  <%= f.label :middle_initial %><br>
  <%= f.text_field :middle_initial %>
</div>
<div class="field">
  <%= f.label :last_name %><br>
  <%= f.text_field :last_name %>
</div>
<div class="field">
  <%= f.label :email %><br>
  <%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label :street1 %><br>
  <%= f.text_field :street1 %>
</div>
<div class="field">
  <%= f.label :street2 %><br>
  <%= f.text_field :street2 %>
</div>
<div class="field">
  <%= f.label :city %><br>
  <%= f.text_field :city %>
</div>
<div class="field">
  <%= f.label :state %><br>
  <%= f.text_field :state %>
</div>
<div class="field">
  <%= f.label :zip %><br>
  <%= f.text_field :zip %>
</div>
<div class="field">
  <%= f.label :phone %><br>
  <%= f.text_field :phone %>
</div>